name: build
on:
    push:
        branches:
            - master
jobs:
    build-and-test:
        runs-on: ubuntu-latest
        name: Publish
        steps:
            - uses: actions/checkout@v3

            - name: Download Cypress
              uses: bahmutov/npm-install@v1
              with:
                  install-command: npm i
              env:
                  CYPRESS_INSTALL_BINARY: 0

            - name: Eslint and Prettify
              run: npm run lint

            - name: Check Cypress cache
              run: |
                  npx cypress cache path
                  npx cypress cache list

            - name: Restore / Cache the binary
              id: cache-cypress
              uses: actions/cache@v3
              with:
                  path: ~/.cache/Cypress
                  key: cypress-cache-v2-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                       cypress-cache-v2-${{ runner.os }}-
                       cypress-cache-v2-

            - name: Install Cypress
              run: |
                  npx cypress install
                  npx cypress cache list

            - name: Testing
              run: |
                  npm run test:prepare:basic
                  npm run test:prepare:statuses
                  npm run test:prepare:cucumber
                  npm run test

            # https://github.com/cycjimmy/semantic-release-action
            - name: Semantic Release
              uses: cycjimmy/semantic-release-action@v3
              id: semantic
              with:
                  branch: master
                  extra_plugins: |
                      @semantic-release/git
                      @semantic-release/changelog
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
